In [23]:
import pandas as pd
import os
path = 'data'
fname = 'rhymes_clean.tsv'
rhyme_df= pd.read_csv(os.path.join(path, fname),sep='\t',header=None)

In [24]:
rhyme_df

                0            1  2             3     4     5      6     7     8
0          reisen    besserung  0   7918.854237  99.0  99.0  False  True  True
1         drachen       lachen  1   2186.448667  99.0  99.0   True  True  True
2          throne     geschaut  0   9113.077958  99.0  99.0  False  True  True
3      verspricht        stern  0   9856.975820  99.0  99.0  False  True  True
4           könig  unterthänig  1   2849.626382  99.0  99.0   True  True  True
...           ...          ... ..           ...   ...   ...    ...   ...   ...
36623       reine           ab  0  10673.507955  99.0  99.0  False  True  True
36624        geht        steht  1   3480.667856  99.0  99.0   True  True  True
36625    schatten       zweige  0   9703.796970  99.0  99.0  False  True  True
36626      erfüll           an  0   6090.263155  99.0  99.0  False  True  True
36627       gemüt      geglüht  1   3353.080776  99.0  99.0   True  True  True

[36628 rows x 9 columns]

In [25]:
rhyme_df = rhyme_df.drop([3,4,5,6,7,8],axis=1)

In [31]:
rhyme_df = rhyme_df.rename({0:'word1',1:'word2',2:'rhyme'},axis=1)

In [33]:
rhyme_df.to_csv('rhymes_selected.csv')

In [34]:
rhyme_df

            word1        word2  rhyme
0          reisen    besserung      0
1         drachen       lachen      1
2          throne     geschaut      0
3      verspricht        stern      0
4           könig  unterthänig      1
...           ...          ...    ...
36623       reine           ab      0
36624        geht        steht      1
36625    schatten       zweige      0
36626      erfüll           an      0
36627       gemüt      geglüht      1

[36628 rows x 3 columns]

In [ ]:
rhyme_df.to_csv('rhymes_clean.tsv',sep='\t',header=None)